.error{
  padding: 5px 5px 5px 0px;
  font-size:13px;
}

.form-input{
  width: 280px;
  height: 38px;
  padding:5px 0px 5px 10px;
}

.form-select{
  height: 38px;
  padding: 5px;
}

.hidden-pagination{
   display: none;
   visibility: hidden;
}
